<% content_for :id, "broadcast" %>

<h1>Diffuser sur une channel</h1>
<p class="subtitle">Choisissez laquelle vous souhaitez utiliser<p>

<ul>
	<% @channels.each do |channel| %>
	<li>
	  <h3><%= channel.name %></h3>
	  <p>
	  	• <%= link_to image_tag("broadcast/media19.png"), broadcast_path(channel.slug) %>
	  	<%= channel.description %>
	  	<%= link_to "Broadcaster", broadcast_path(channel.slug), "data-no-turbolink" => true %>
		</p>
	</li>
	<% end %>
</ul>