<% content_for :id, "listen" %>

<h1>Tous les channels disponibles</h1>
<p class="subtitle">Choisissez le channel que vous souhaitez écouter<p>

<ul>
<% @channels.each do |channel| %>
  <li>
	  <h3><%= link_to channel.name, listen_path(channel.slug) %></h3>
	  <p>
	  	• <%= link_to image_tag("listen/sound48.png"), listen_path(channel.slug) %>
	  	<%= channel.description %> <%= link_to "Ecouter", listen_path(channel.slug) %>
	  </p>
	</li>
<% end %>
</ul>