<% if object.errors.any? %>
  <div id="clear"></div>
  <div id="error">
    <p class="title">
      <%= t 'activemodel.errors.messages', count: object.errors.count %>
    </p>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <div id="clear"></div>
<% end %>